@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popppins', sans-serif;
}

:root{
    --lightest: #a2e2f8;
    --second: #63beff;
    --dark-color: #4a8d87;
    --background: rgb(59, 112, 151);
}

.navbar1{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

.container1 :where(.nav-section, .search-form, .nav-logo){
    display: flex;
    align-items: center;
}

.container1 .nav-section{
    gap: 1rem;
}

.container1 :where(.logo-image, .class-image){
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.container1 .nav-button{
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: none;
}

.container1 .nav-button i{
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.container1 .nav-button:hover{
    background-color: var(--background);
}
.container1 .nav-button:hover i{
    background-color: var(--background);
}
.container1 .nav-logo{
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
}

.container1 .nav-logo .logo-text{
    font-size: 1.25rem;
    color: var(--background);
}

.navbar1 .nav-center{
    display: flex;
    width: 100%;
    justify-content: center
}

.navbar1 .search-form{
    max-width: 550px;
    flex: 1;
    height: 40px;
}

.navbar1 .search-form .center-text{
    width: 100%;
    height: 100%;
    padding: 0 1 rem;
}

.main-layout{
    display: flex;
}

.main-layout .sidebar{
    width: 320px;
    padding: 0 0.7rem;
    background-color: white;
    height: 100%;
}

body.sidebar-hidden .main-layout .sidebar{
    width: 0;
    padding: 0;
}

.main-layout .sidebar .nav-left{
    display: none;
    padding: 0.5rem 0.3rem;
}

.sidebar .link-container1{
    overflow-y: auto;
    height: calc(100vh - 60px);
}

.sidebar .section-separator{
    height: 1px;
    margin-top: 10%;
    background-color: var(--background);
}


.sidebar .link-section .link-item{
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 1rem;
    padding: 1rem 1rem;
    text-decoration: none;
    margin-bottom: 1rem;
    color: var(--background);
    width: 85%;
    margin-top: 1rem;
}
.sidebar .link-section .link-item:hover{
    border-left: 3px solid var(--background);
}

.link-section .link-item.active {
    border-left: 3px solid var(--background);
}
.link-section .link-item.active {
    border-left: 3px solid var(--background);
}
.sidebar .link-section .link-item:hover i {
    background-color: var(--background);
    color: white;       
}
.main-layout .content-wrapper{
    padding: 0 1 rem;
    overflow-x: hidden;
    width: 100%;
}

.content-wrapper .category-list{
    display: flex;
    gap: 0.75rem;
    overflow-x: auto;
    padding: 0.75rem 0 0.75rem;
    scrollbar-width: none;
}

.category-list .category-button{
    color: var(--background);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    padding: 0.4rem 0.75rem;
    border-radius: 0.5rem;
    background: white;
}
.category-list .category-button i{
    padding: .5rem;
    margin-right: .3rem;
    background-color: none;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
}
.category-list .category-button:hover{
    background-color: white;
    color: var(--second);
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
}
.category-list .category-button:hover i{
    background-color: var(--background);
    color: white;
}

@media (max-width: 768px){
    .main-layout .screen-overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        background: rgb(0, 0, 0, .4);
    }

    body.sidebar-hidden .main-layout .screen-overlay{
        opacity: 0;
        pointer-events: none;
    }

    .main-layout .sidebar{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
        height: 100vh;
        transition: 0.2s ease;
    }

    body.sidebar-hidden .main-layout .sidebar{
        left: -280px;
    }

    .main-layout .sidebar .nav-left{
        display: flex;
    }
}