<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale=1.0">
        <title>Authentication</title>

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/authentication.css') }}">
    </head>

    <body>
        <div class="form-container">
            <div class="col col-1">
                <div class="image-layer">
                    <img src="{{ url_for('static', filename='img/dwcl.png') }}" alt="Logo" class="form-image-main">
                    <img src="{{ url_for('static', filename='img/calendar.png') }}" alt="Logo" class="form-image calendar">
                    <img src="{{ url_for('static', filename='img/clock.png') }}" alt="Logo" class="form-image clock">
                    <img src="{{ url_for('static', filename='img/building.png') }}" alt="Logo" class="form-image building">
                </div>
                <p class="featured-words">You Are Few Minutes Way to Speed Up Your Task With <span>Vinci.ent</span></p>
            </div>

            <div class="col col-2">
                <div class="btn-box">
                    {% block button1 %}{% endblock %}
                    {% block button2 %}{% endblock %}
                </div>

                <!-- LOGIN FORM CONTAINER -->
                    {% block content %}{% endblock %}

            </div>
        </div>














        <script src="{{ url_for('static', filename='js/scripts/authentication.js') }}"></script>
    </body>
</html>